page-add-topic {
  .selectBar {
    background: #f8f8f8;
    display: inline-block;
    padding: 5px;
    width: 85%;
    ion-select {
      padding: 5px;
    }
  }
  .commit {
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 20px;
    i.fa {
      margin-right: 10px;
    }
  }
  ion-icon {
    padding: 5px 10px;
  }
  ion-toolbar.toolbar {
    position: fixed;
    bottom: 0px;
    i {
      color: $font_color3;
    }
    .fa-image {
      margin-left: 10px;
    }
  }
  ion-content {
    ion-select {
      margin: 0px !important;
    }
    margin-bottom: 0px !important;
    height: 100%;
    .textarea {
      min-height: 50%;
      * {
        display: block;
        height: 300xp;
      }
      textarea {
        width: 100%;
        border: none;
        resize: none;
        overflow-y: auto;
      }
    }
    .image_list {
      height: 40%;
      img.image_item {
        width: 30%;
        padding: 10px;
      }
    }
  }
}
