<ion-header>

  <ion-navbar>
    <ion-title>个人中心</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="profile">
    <ion-avatar>
      <img class='avatar' [src]="!isLogin ? '../../assets/imgs/person.png':user.avatar">
    </ion-avatar>
    <div class="prop" *ngIf='isLogin'>
      <p class='name'>{{user.userName}}</p>
      <p class='achieve'>{{user.achievement}}</p>
      <p class='userTitle'>{{user.userTitle}}</p>
    </div>
    <div class="prop" *ngIf='!isLogin' (click)='login()'>
      <p class='clickLogin'>{{"personal.clickLogin"|translate}}</p>
    </div>
  </div>
  <ion-list no-lines>
    <button ion-item class="setting_menu" (click)="toMyTopics()">
        <ion-icon name="cafe" item-start></ion-icon>
        我的帖子
      </button>

    <button ion-item class="setting_menu" (click)="toMyReplies()">
        <ion-icon name="medical" item-start></ion-icon>
        我的回复
      </button>

    <button ion-item class="setting_menu">
        <ion-icon name="chatboxes" item-start></ion-icon>
        我的消息
      </button>

    <button ion-item class="setting_menu">
        <i class="fa fa-pencil fa-lg"></i>
        账户设置
      </button>

    <button ion-item (click)="toSetting()">
        <ion-icon name="settings" item-start></ion-icon>
        设置
      </button>

    <button ion-item (click)="toAbout()">
        <ion-icon name="planet" item-start ></ion-icon>
        关于
      </button>
  </ion-list>
</ion-content>
